.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url(/assets/image/14.png);
    background-size: cover;
    background-position: center center;
}

.login-btn{
    text-decoration: none;
    font-size: 23px;
    margin-left: 140px;
    background: #605FA8;
    padding: 8px;
    color: white;
    border-radius: 10px;
}